@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
	font-family: "Inter", sans-serif;
}

body {
	background-color: rgb(37, 30, 165);
}

#heading {
	background-color: rgb(70, 86, 232);
	color: black;
	padding: 0.5rem;
	border-radius: 1rem;
}

#form {
	background-color: lightblue;
	width: 15%;
	border-radius: 0.5rem;
	padding: 0.5rem;	
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0.5rem;
}

input {
	margin: 0.2rem;
	border: none;
	box-shadow: 3px 3px 3px rgba(0,0,0,0.2);
	border-radius: 0.5rem;
	width: 90%;
}

button {
	background-color: blue;
	border: none;
	color: lightblue;
	border-radius: 0.5rem;
}

#view {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.record {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30%;
	background-color: lightblue;
	border-radius: 0.8rem;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
	margin: 0.5rem;
}
.record img {
	width: 95%;
    height: 50%;
	border-radius: 0.8rem;
}

.record button {
	margin-bottom: 0.3rem;
}